# Cartella di configurazione di PyCharm
.idea/

# Ambiente virtuale
venv/
env/
ENV/
.venv/

# File compilati Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File di sistema
.DS_Store
Thumbs.db

# Log e database
*.log
*.sqlite3

# Altri file esclusi
*.env
*.venv

# File temporanei
*.tmp
*.temp
